<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.PlayerMapper">
    <resultMap id="playerResultMap" type="com.eight.Player">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="position" column="position" />
        <result property="uniformNumber" column="uniform_number" />
        <result property="prefecture" column="prefecture" />
    </resultMap>
</mapper>